/* Produto.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.produto {
  padding: 2rem;
}

.galeria img {
  max-width: 100%;
  border-radius: 10px;
}

.info-produto h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

.produto-img img {
  width: 60px;
  height: auto;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.tamanho-opcao,
.cor-opcao {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 8px;
  border: 2px solid transparent;
}

.tamanho-opcao.selecao,
.cor-opcao.selecao {
  border-color: #000;
}

.cor-cyan {
  background-color: #00e6e6;
}

.cor-gray {
  background-color: #888;
}

.cor-purple {
  background-color: #6c63ff;
}

.cor-pink {
  background-color: #ff4f81;
}

.produtos-relacionados .card {
  text-align: center;
}

.preco-original {
  text-decoration: line-through;
  color: gray;
}

.preco-diconto {
  color: green;
  font-weight: bold;
}
